.navbar-nav .nav-link {
  color: black !important;
}
.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
}
.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
}
.navbar-brand {
  font-size: 26px;
  color: black !important;
}
